ETHERSCAN_API_KEY = ABSD123...
BSCSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

# deploy constants
# Exilon
DEX_ROUTER_MAINNET = 0x10ED43C718714eb63d5aA57B78B54704E256024E
# front - https://pancakeswap.finance/swap
DEX_ROUTER_TESTNET = 0xCc7aDc94F3D80127849D2b41b6439b7CF1eB4Ae0
# front - https://pcs.nhancv.com/#/swap

# BUSD/WBNB pair pancakeswap mainnet
BUSD_WBNB_PAIR_MAINNET = 0x58F876857a02D6762E0101bb5C46A8c1ED44Dc16
# BUSD/WBNB pair pancakeswap testnet
BUSD_WBNB_PAIR_MAINNET = 0x2F9CE3FB5589cf829F902B67C3bA67FD1cc75B78

# gas limits constants
DEFAULT_OPERATIONS_GASLIMIT = 200000
DISTRIBUTION_DEPLOY_GASLIMIT = 1400000
EXILON_DEPLOY_GASLIMIT = 8200000
WETH_RECIEVER_DEPLOY_GASLIMIT = 250000

# gas prices constants
ETH_MAINNET_GASPRICE = 20
BSC_MAINNET_GASPRICE = 5
MATIC_MAINNET_GASPRICE = 5
TESTNETS_GASPRICE = 5