ETHERSCAN_API_KEY = ABSD123...
BSCSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

# deploy constants
# Exilon
DEX_ROUTER_MAINNET = 0x10ED43C718714eb63d5aA57B78B54704E256024E
# front - https://pancakeswap.finance/swap
DEX_ROUTER_TESTNET = 0xCc7aDc94F3D80127849D2b41b6439b7CF1eB4Ae0
# front - https://pcs.nhancv.com/#/swap

# BUSD token mainnet
BUSD_MAINNET = 0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56
# BUSD token testnet
BUSD_TESTNET = 0x916082868d33a860C297F4c54Ac18771186ed73c

# gas limits constants
DEFAULT_OPERATIONS_GASLIMIT = 200000
DISTRIBUTION_DEPLOY_GASLIMIT = 1400000
EXILON_DEPLOY_GASLIMIT = 8200000
WETH_RECIEVER_DEPLOY_GASLIMIT = 250000

# gas prices constants
ETH_MAINNET_GASPRICE = 20
BSC_MAINNET_GASPRICE = 5
MATIC_MAINNET_GASPRICE = 5
TESTNETS_GASPRICE = 10